@using MovieGrid.Models


@{
    ViewBag.Title = "Movie Grid Home Page";
}

<div class="jumbotron">
    <h1>Movie Neural Network Processor</h1>
</div>



<div class="row">

    @(Html.Kendo().Grid<Movie>()
          .Name("grid")
          .Columns(c =>
          {
              c.Bound(m => m.MovieId).Width(4);
              c.Bound(m => m.Title).Width(200);
              c.Bound(m => m.Description).Width(400);
              c.Bound(m => m.ReleaseDate).Format("{0:MMMM d, yyyy}").Width(200);
              c.Bound(m => m.Director).Visible(false);
              c.Bound(m => m.Genre).Visible(false);
              c.Bound(m => m.Length).Visible(false);
              c.Bound(m => m.Rating).Visible(false);
              c.Command(command => command.Custom("ViewDetails").Click("showDetails")).Width(180);
          })
          .Sortable()
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .DataSource(ds => ds
              .Ajax()
              .Events(events => events.Error("error_handler"))
              .Model(m => m.Id(mv => mv.MovieId))
              .Read(r => r.Action("GetAllMovies", "Home"))
          )
          )

</div>


@(Html.Kendo().Window().Name("Details")
    .Title("Movie Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(350))


<script type="text/javascript">
    


    
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>