@using MovieGrid.Models


@{
    ViewBag.Title = "Movie Grid Home Page";
}



<script src="~/Scripts/kendo/kendo.templateloader.js"></script>


<div class="jumbotron">
    <h1>Movie Neural Network Processor</h1>
</div>


<div class="row">

    @*MOVIES GRID*@
    @(Html.Kendo().Grid<Movie>()
          .Name("grid")
          .Columns(c =>
          {
              c.Bound(m => m.MovieId).Width(4);
              c.Bound(m => m.Title).Width(200);
              c.Bound(m => m.Description).Width(400);
              c.Bound(m => m.ReleaseDate).Format("{0:MMMM d, yyyy}").Width(200);
              c.Bound(m => m.Director).Visible(false);
              c.Bound(m => m.Genre).Visible(false);
              c.Bound(m => m.Length).Visible(false);
              c.Bound(m => m.Rating).Visible(false);
              c.Command(command => command.Custom("ViewDetails").Click("showDetails")).Width(180);
          })
          .Sortable()
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .DataSource(ds => ds
              .Ajax()
              .Events(events => events.Error("error_handler"))
              .Model(m => m.Id(mv => mv.MovieId))
              .Read(r => r.Action("GetAllMovies", "Home"))
            )
          )


    
</div>

@*MODAL WINDOW*@
@(Html.Kendo().Window().Name("Details")
    .Title("Movie Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(400))


<script type="text/javascript">
    
    var _itemTemplate;

    $(function () {

        // load external template(s)
        templatesLoader.loadExtTemplates(
            { path: "@Url.Content("~/Templates/movieDetails.tmp.htm")", tag: "movie-details" }
        );
        //"~/Templates/movieDetails.tmp.htm"
        //Subscribe to the event triggered when the templates are loaded
        //Do not load templates before they are available
        $(document).bind("TEMPLATES_LOADED",
                function (e, path) {
                    console.log('TEMPLATES LOADED');

                    //Compile and cache templates
                    _itemTemplate = kendo.template($("#movie-details").html(), { useWithBlock: false });

                });
    });

    function showDetails(e) {

        e.preventDefault();

        // get the row's data for which we are displaying the details
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        // instantiate the window object and set its content 
        var movieDetailsWidow = $("#Details").data("kendoWindow");
        movieDetailsWidow.content(_itemTemplate(dataItem));

        kendo.bind(movieDetailsWidow.element, dataItem);

        // center and open the window
        movieDetailsWidow.center().open();

    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>