<div id="movieDetailsContainer">

    <label>Title: </label>
    <p data-bind="text:Title"></p>
    
    <label>Description: </label>
    <p data-bind="text:Description"></p>

    <label>Release Date: </label>
    <p data-bind="text:ReleaseDate"></p>

    <label>Director: </label>
    <p data-bind="text:Director"></p>

    <label>Rating: </label>
    <p data-bind="text:Rating"></p>

    <label>Length: </label>
    <p data-bind="text:Length"></p>

    <label>Genre: </label>
    <p data-bind="text:Genre"></p>
</div>